{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}MAIN SHOP{% endblock %}</title>

    <link href="{% static "css/base.css" %}" rel="stylesheet">

  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="img/x-icon">

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">


  </head>
  <body>

  <nav class="main-nav-outer" id="test">
    <!--main-nav-start-->
    <div class="container">
      <ul class="main-nav">
        <li><a href="/">Головна</a></li>
        <li><a href="">Магазин</a></li>
        <li class="small-logo"><a href="#header"><img src="{% static 'img/small-logo.png' %}" alt=""></a></li>
        <li><a href="">Вхід</a></li>

        <li class="nav-item">
            <a class="nav-link" href="">Корзина <span class="badge badge-pill badge-danger"></span></a>
        </li>
      </ul>
      <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
    </div>
  </nav>

    <div id="header">
      <a href="/" class="logo">MAIN SHOP</a>
    </div>
    <div id="subheader">
      <div class="cart">
        {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Your cart:
            <a href="{% url "cart:cart_detail" %}">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% else %}
            Your cart is empty.
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock content%}
    </div>


  </body>
</html>
